.chat .header{
  padding:0 16px;
  height:80px;
  align-items:center;
}

.chat{

  .chat_title{    
    display:flex;
    column-gap:16px;
    align-items: center;
  }  

  .chat_headerTitle{     
    div{
      @extend %double;
      flex-direction: column;      

      .chat_title{
        font-size: 0.9em;            
      }
    }

  
  }
}

.bubble_container{
  background:$opacity2;
  height:calc(100vh - 225px);
  padding:16px 32px 16px 16px;;
  overflow-y:auto;

  .bubble_preview{
    display:flex;
    column-gap:10px;
    padding:20px 0;
  }

  .bubble_wrap{
    display:flex;
    flex-direction:column;        

    .bubble_content{
      display:flex;
    }

    .bublbe_time{
      font-size:0.7em;
      white-space:nowrap;
      display:flex;
      align-items:end;
      color:#aaa;
      margin:0 10px;
    }
  }
}

.chat_form{
  padding:16px;
  height:145px;

  .chat_formMsg{
    @include set-box(100%,75px);
    border:none;
    outline:none;
    resize:none;
  }

  .chat_formFiled{

  }

  .chat_formUtil{
    @extend %double;    
    align-items:end;

    .chat_formUtilPlugin{
      i{
        margin-right:10px;
        color:#999;

        &:hover{
          color:$sky1
        }
      }      
    }

    .chat_formUtilSubmit{
      .chat_formBtn{
        @include set-box(70px,36px,6px);
        border:none;
        background:$opacity1
      }
    }
  }
}

.bubble{
  position:relative;
  background:$sky3;
  padding:10px;
  border-radius:20px;
  margin-top:10px;  
  font-size:13px;
  box-shadow:2px 2px 10px $sky1;
  line-height:1.5;
  max-width: 640px;

  &::before{
    @include set-box(0,0);
    position:absolute;
    display:block;
    content:"";
    border-bottom:15px solid transparent;
    border-right:15px solid $sky3;    
    top:10px;
    left:-10px;    
  }
}

.bubble_preview.my{
  flex-direction:row-reverse;  

  .preview_pic, .preview_nick{
    display:none;
  }
  

  .bubble_wrap{
  .bubble_content{
    flex-direction:row-reverse;    

    .bubble{
      background:$sky4;
      color:#f6f7f8d7;
    }

    .bubble::before{
      border-right:15px solid transparent;
      border-top:15px solid $sky4;    
      top:10px;
      left:auto;
      right:-12px;    
    }
  }  
}
}